{% autoescape off %}
Olá,

Recebemos um pedido de redefinição de senha para a conta associada a este endereço de e-mail na {{ site_name }}.

Acesse o seguinte link abaixo ou cole-o em seu navegador web para escolher a sua nova senha:

{{ protocol }}://{{ domain }}{% url 'accounts:password_reset_confirm' uidb64=uid token=token %}

Nome de usuário: {{ user.get_username }}

Se você não requisitou uma nova senha, por favor ignore este email e a sua senha permanecerá a mesma.

Atenciosamente,
A equipe do News Portal
{% endautoescape %}