{% extends "wagtailimages/images/index.html" %}
{% load wagtailadmin_tags i18n newsroom %}
{% comment %}
    Override do projeto: a biblioteca de imagens também ganha o cabeçalho do
    painel (templates/newsroom/wagtail/list_header.html). O Wagtail 7.4 monta
    aqui a ordenação e a alternância grade/lista como campos extras da busca;
    eles continuam, na mesma faixa da busca. Ao atualizar o Wagtail, compare
    com wagtail/images/templates/wagtailimages/images/index.html.
{% endcomment %}

{% block slim_header %}
    {% fragment as extra_form_fields %}
        {% rawformattedfield label_text=_("Sort by") id_for_label="order_images_by" sr_only_label=True %}
            <select id="order_images_by" name="ordering">
                {% for ordering, ordering_text in ORDERING_OPTIONS.items %}
                    <option value="{{ ordering }}" {% if current_ordering == ordering %}selected="selected"{% endif %}>{{ ordering_text }}</option>
                {% endfor %}
            </select>
        {% endrawformattedfield %}
        <div id="layout-switch-control" class="w-layout-switch-control">
            {% include "wagtailimages/images/layout_toggle_button.html" %}
        </div>
    {% endfragment %}
    {% nr_wagtail_list_header as head %}
    {% include "newsroom/wagtail/list_header.html" with head=head extra_form_fields=extra_form_fields %}
{% endblock %}
